{{!-- templates/layouts/home.hbs --}}

{{> global/header }}

<div class="container">
    <h1>About Magic Marble Steakhouse</h1>
    <div class="col-6-first">
        {{#> intro-about-block}}
        {{/intro-about-block}}
    </div>
    <div class="col-6-last">
        {{#> philosophy-block}}
        {{/philosophy-block}}
    </div>
</div>

{{> global/footer }}
