{{!-- templates/layouts/contact.hbs --}}

{{> global/header }}

<div class="col-6-first">
    <div class="container">
        {{#> intro-contact-block}}
        {{/intro-contact-block}}
    </div>
</div>
<div class="col-6-last">
    <div class="container">
        {{#> testimonies-block}}
        {{/testimonies-block}}
    </div>
</div>

{{> global/footer }}
