{{!-- templates/layouts/contact.hbs --}}

{{> global/header }}

<div class="container">
    <h1>Contact Us</h1>
    <div class="col-6-first">
        {{#> intro-contact-block}}
        {{/intro-contact-block}}
    </div>
    <div class="col-6-last">
        {{#> testimonies-block}}
        {{/testimonies-block}}
    </div>
</div>

{{> global/footer }}
