{{!-- templates/layouts/doneness.hbs --}}

{{> global/header }}

<div class="container">
    <h1>Beef Doneness</h1>
    <div class="col-6-first">
        {{#> intro-doneness-block}}
        {{/intro-doneness-block}}
    </div>
    <div class="col-6-last">
        
    </div>
</div>

{{> global/footer }}
