{{!-- templates/layouts/doneness.hbs --}}

{{> global/header }}

<div class="container">
    <h1>Beef Doneness</h1>
    <div class="col-12">
        {{#> doneness-block}}
        {{/doneness-block}}
    </div>
    <div class="col-12">
        {{#> beef-cuts-block}}
        {{/beef-cuts-block}}
    </div>
</div>

{{> global/footer }}
