{{!-- templates/layouts/home.hbs --}}

{{> global/header }}

<div class="col-6-first">
    <div class="container">
        {{#> intro-home-block}}
        {{/intro-home-block}}
    </div>
</div>
<div class="col-6-last">
    <div class="container">
        {{#> ads-block}}
        {{/ads-block}}
    </div>
</div>

{{> global/footer }}
