{{!-- templates/layouts/home.hbs --}}

{{> global/header }}

<div class="container">
    <h1>Welcome</h1>
    <div class="col-6-first">
        {{#> intro-home-block}}
        {{/intro-home-block}}
    </div>
    <div class="col-6-last">
        {{#> ads-block}}
        {{/ads-block}}
    </div>
</div>

{{> global/footer }}
