{{!-- templates/layouts/home.hbs --}}

{{> global/header }}

<div class="container">
    <h1>Our Menu</h1>
    
    <section class="menu">
    
        {{#> menu-block}}
        {{/menu-block}}
    
    </section>
</div>

{{> global/footer }}
