{{!-- templates/layouts/home.hbs --}}

{{> global/header }}

<div class="container">
    <h1>Our Menu</h1>
    
    <section class="menu">
    
        {{#> steak-block}}
        {{/steak-block}}
    
        {{#> drinks-block}}
        {{/drinks-block}}
        
    </section>
</div>

{{> global/footer }}
