<div class="col-6-first">
    <div class="container">
        <h1>Grand Opening</h1>
        <p>We are <strong>Magic Marble Steakhouse</strong>, and we are excited to bring our passion for <strong>great steaks to all ages</strong> in the Twin Cities.</p>
        <p>All steak lovers, come celebrate with us as we open our restaurant this Valentine’s Day! Find us with your favorite map app at:</p>
        <p>
            <a href="#">123 Main St
                <br>Saint Paul, MN 55105</a>
            <br> (651) 123-4567
        </p>
        
        {{#> contact-form-block}}
        {{/contact-form-block}}
    </div>
</div>
<div class="col-6-last">
    <div class="container">
        {{#> testimonies-block}}
        {{/testimonies-block}}
    </div>
</div>
