</main>

<footer class="footer">
    <div class="container">
        <div class="col-6-first">
            {{> global/footer-left }}
        </div>
        <div class="col-6-last">
            {{> global/footer-right }}
        </div>
    </div>
</footer>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.tinycarousel.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/forms.js"></script>
<script src="js/carousel.js"></script>
<script>
    $(".accordion").accordion({
        active: 1, // sets Steak as default opened accordion
        heightStyle: "content"
    });

</script>
<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "data/address.xml",
            dataType: "xml",
            success: function(xml) {
                $(xml).find('location').each(function() {
                    var street = $(this).find('street').text();
                    var city = $(this).find('city').text();
                    var state = $(this).find('state').text();
                    var zip = $(this).find('zip').text();
                    var phone = $(this).find('phone').text();
                    $('<p></p>').html('<a href="#">' + street + '<br>' + city + ', ' + state + ' ' + zip + '</a><br>' + phone).appendTo('.address-info');
                });
            }
        });

        $.ajax({
            type: "GET",
            url: "data/quotes.xml",
            dataType: "xml",
            success: function(xml) {
                $(xml).find('testimony').each(function() {
                    var name = $(this).find('name').text();
                    var quote = $(this).find('quote').text();
                    $('<p></p>').html(name + ' says,<br><span class="quote">"' + quote + '"</span>').appendTo('.customer-quotes');
                });
            }
        });
    });

</script>
</body>

</html>
