</main>

<footer class="footer">
    <div class="container">
        <div class="col-50">
            <h1>Sign Up For Offers And Rewards</h1>
        </div>
        <div class="col-50">
            <h1>Connect With Us</h1>
            <ul class="social-media">
                <li class="facebook">
                    <a href="#"><img alt="Facebook" src="images/icon-facebook.svg"></a>
                </li>
                <li class="googleplus">
                    <a href="#"><img alt="Google+" src="images/icon-googleplus.svg"></a>
                </li>
                <li class="twitter">
                    <a href="#"><img alt="Twitter" src="images/icon-twitter.svg"</a>
                </li>
                <li class="youtube">
                    <a href="#"><img alt="YouTube" src="images/icon-youtube.svg"></a>
                </li>
            </ul>
            <p class="footer-links">
                <a href="index.html">Home</a> |
                <a href="menu.html">Menu</a> | 
                <a href="doneness.html">Doneness</a> |
                <a href="about.html">About</a> |
                <a href="contact.html">Contact</a>
            </p>
        </div>
    </div>
</footer>
