</main>

<footer class="footer">
    <div class="container">
        <div class="col-6-first">
            {{> global/footer-left }}
        </div>
        <div class="col-6-last">
            {{> global/footer-right }}
        </div>
    </div>
</footer>

<script src="js/scripts.js"></script>
</body>
</html>