<section class="footer-right">
    <h2>Connect With Us</h2> 
    
    {{> includes/social-media-light}}

    <p class="footer-links">
        <a href="index.html">Home</a> |
        <a href="menu.html">Menu</a> |
        <a href="doneness.html">Doneness</a> |
        <a href="about.html">About</a> |
        <a href="contact.html">Contact</a>
    </p>
</section>
