<nav class="nav-wrapper">
    <ul class="site-nav">
        <li><a class="site-nav-active" href="#">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Doneness</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>