<header class="header">
    <div class="col-4">
        <a href="{{logo-link}}">
            <img alt="Magic Marble Steakhouse" src="images/logo-magic-marble-steakhouse.svg">
        </a>
    </div>
    <div class="col-8">
        <nav class="nav-wrapper">
            <ul class="site-nav">
                <li><a class="site-nav-link site-nav-link-active" href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Doneness</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
