<header class="header">
    <div class="col-4-first">
        <a class="logo-link" href="{{logo-link}}">
            <img alt="Magic Marble Steakhouse" class="logo" src="images/logo-magic-marble-steakhouse.svg">
        </a>
    </div>
    <div class="col-8-last">
        <nav class="nav-wrapper">
            <ul class="site-nav">
                <li>
                    <a class="site-nav-link site-nav-link-active" href="#">Home</a>
                </li>
                <li>
                    <a class="site-nav-link" href="#">Menu</a>
                </li>
                <li>
                    <a class="site-nav-link" href="#">Doneness</a>
                </li>
                <li>
                    <a class="site-nav-link" href="#">About</a>
                </li>
                <li>
                    <a class="site-nav-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
