<div class="col-6-first">
    <div class="container">
        <h1>Grand Opening</h1>
        <p>We are <strong>Magic Marble Steakhouse</strong>, and we are excited to bring our passion for <strong>great steaks to all ages</strong> in the Twin Cities.</p>
        <p>All steak lovers, come celebrate with us as we open our restaurant this Valentine’s Day! Find us with your favorite map app at:</p>
        <p>
            <a href="#">123 Main St
            <br>Saint Paul, MN 55105</a>
            <br> (651) 123-4567
        </p>
    </div>
</div>
<div class="col-6-last">
    <div class="container">
        <div class="ad ad-special">
            <a href="menu.html">
                <img alt="" class="col-7-first" src="images/ad-valentine.jpg">
                <h2 class="ad-headline col-5-last">View Valentine’s Day Special</h2>
            </a>
        </div>
        <div class="ad ad-order">
            <a href="#">
                <h2 class="ad-headline">Order Online: Pickup or Delivery</h2>
                <img alt="" src="images/ad-order.jpg">
            </a>
        </div>
    </div>
</div>
