<section class="philosophy">
    <h2>Our Philosophy</h2>
    <img alt="" src="images/menu/beef-marbling.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore in ipsam, <strong>beef marbling</strong> eum iusto iure quaerat, quas. Nulla aliquam laboriosam odio, inventore eos nostrum exercitationem quam quae itaque adipisci, quaerat unde.</p>
    <img alt="" src="images/menu/fresh-ingredients.jpg">
    <p>Lorem ipsum dolor sit amet, <strong>fresh ingredients</strong>, consectetur adipisicing elit. Alias illum fugit consectetur eius eum, aperiam praesentium possimus nesciunt aspernatur voluptatem, quasi minus hic quae commodi voluptas ipsum tempore nihil nemo.</p>
</section>
