<section class="philosophy">
    <h2>Our Philosophy</h2>
    <img alt="" src="images/menu/beef-marbling.jpg">
    <p>At Magic Marble Steakhouse, we believe in <strong>affordability, sustainability</strong>, and most important of all, we believe in <strong>serving the best steaks</strong>. Each of our meat has just the <strong>right amount of marbling</strong> for the juiciest steaks. We use only the <strong>freshest ingredients</strong>. Each food item we make, we always go in with the mindset of “If we were cooking this for ourselves, how would we want it?”</p>
    <img alt="" src="images/menu/fresh-ingredients.jpg">
    <p>We at Magic Marble Steakhouse believe in supporting our local businesses. That is why we <strong>partner with local butchers</strong> to get the <strong>freshest quality meat at the most affordable prices</strong>. We believe that <strong>the key to our success is ensuring our supply chain succeed</strong> as well.</p>
</section>
