<section class="ads">
    <div class="carousel">
        <h2>View our Monthly Specials</h2>
        <a class="buttons prev" href="#">&#60;</a>
        <div class="viewport">
            <ul class="overview">
                <li class="ad ad-valentine">
                    <a href="menu.html">
                        <img alt="" src="images/ads/ad-valentine.jpg">
                        <h2 class="ad-headline">Valentine’s Day Special</h2>
                    </a>
                </li>
                <li class="ad ad-stpatrick">
                    <a href="menu.html">
                        <img alt="" src="images/ads/ad-stpatrick.jpg">
                        <h2 class="ad-headline">St. Patrick's Day Special</h2>
                    </a>
                </li>
                <li class="ad ad-easter">
                    <a href="menu.html">
                        <img alt="" src="images/ads/ad-easter.jpg">
                        <h2 class="ad-headline">Easter's Day Special</h2>
                    </a>
                </li>
            </ul>
        </div>
        <a class="buttons next" href="#">&#62;</a>
    </div>
    <div class="ad ad-order">
        <a href="tel:651234567">
            <h2 class="ad-headline">Order Now: Pickup or Delivery</h2>
            <img alt="" src="images/ads/ad-order.jpg">
        </a>
    </div>
</section>
