<section class="ads">
    <div class="ad ad-special">
        <a href="menu.html">
            <img alt="" class="col-7-first" src="images/ad-valentine.jpg">
            <h2 class="ad-headline col-5-last">View Valentine’s Day Special</h2>
        </a>
    </div>
    <div class="ad ad-order">
        <a href="#">
            <h2 class="ad-headline">Order Online: Pickup or Delivery</h2>
            <img alt="" src="images/ad-order.jpg">
        </a>
    </div>
</section>