<section class="beef-doneness">
    <h2>How do you want your steak cooked?</h2>
    <ul class="beef-doneness-list">
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-rare.jpg">
            <div class="beef-doneness-desc desc-first">
                <h3>Rare:</h3>
                <p>Seared around the edges, red interior. Should feel soft and spongy with slight resistance.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-medium-rare.jpg">
            <div class="beef-doneness-desc">
                <h3>Medium Rare:</h3>
                <p>Seared outside, pinkish red interior. Should feel fairly soft, fairly spongy and slightly springy.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-medium.jpg">
            <div class="beef-doneness-desc">
                <h3>Medium:</h3>
                <p>Pink center surrounded by brown meat. Should feel fairly firm and springy.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-medium-well.jpg">
            <div class="beef-doneness-desc">
                <h3>Medium Well:</h3>
                <p>Faint pink color throughout. Should feel firm with a slight spring.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-well.jpg">
            <div class="beef-doneness-desc">
                <h3>Well Done:</h3>
                <p>Solid brown color throughout. Should feel very firm and will spring back quickly.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image fork" src="images/doneness/beef-doneness-fork.jpg">
        </li>
    </ul>
</section>
