<section class="beef-doneness">
    <h2>How do you want your steak cooked?</h2>
    <div class="beef-doneness-degree col-6-first">
        <img alt="" src="images/menu/beef-doneness-rare.jpg">
        <p>Seared around the edges, red interior.</p>
    </div>
    <div class="beef-doneness-degree col-6-last">
        <img alt="" src="images/menu/beef-doneness-medium-rare.jpg">
        <p>Seared outside, pinkish red interior.</p>
    </div>
    <div class="beef-doneness-degree col-6-first">
        <img alt="" src="images/menu/beef-doneness-medium.jpg">
        <p>Pink center surrounded by brown meat.</p>
    </div>
    <div class="beef-doneness-degree col-6-last">
        <img alt="" src="images/menu/beef-doneness-medium-well.jpg">
        <p>Faint pink color throughout.</p>
    </div>
    <div class="beef-doneness-degree col-6-first">
        <img alt="" src="images/menu/beef-doneness-well.jpg">
        <p>Solid brown color throughout.</p>
    </div>
</section>
