<section class="beef-doneness">
    <h2>How do you want your steak cooked?</h2>
    <ul class="beef-doneness-list">
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-rare.jpg">
            <div class="beef-doneness-desc">
                <h3>Rare</h3>
                <p>Seared around the edges, red interior.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-medium-rare.jpg">
            <div class="beef-doneness-desc">
                <h3>Medium Rare</h3>
                <p>Seared outside, pinkish red interior.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-medium.jpg">
            <div class="beef-doneness-desc">
                <h3>Medium</h3>
                <p>Pink center surrounded by brown meat.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-medium-well.jpg">
            <div class="beef-doneness-desc">
                <h3>Medium Well</h3>
                <p>Faint pink color throughout.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-well.jpg">
            <div class="beef-doneness-desc">
                <h3>Well Done</h3>
                <p>Solid brown color throughout.</p>
            </div>
        </li>
        <li class="beef-doneness-degree">
            <img alt="" class="beef-doneness-image" src="images/doneness/beef-doneness-fork.jpg">
        </li>
    </ul>
</section>
