<form action="" class="form form-signup">
    <div class="form-group">
        <label for="signup-email">Email Address</label>
        <input name="signup-email" id="signup-email" type="email">
    </div>
    <input class="button" type="submit" value="Sign Up">
</form>
