{{#> contact-form-block}}
<form action="" class="form form-contact" id="form-contact">
    <div class="form-group">
        <label for="contactName">Name</label>
        <input name="contactName" type="text">
    </div>
    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input name="contactEmail" type="text">
    </div>
    <div class="form-group">
        <label for="contactMessage">Message</label>
        <textarea name="contactMessage"></textarea>
    </div>
    <div class="form-group form-group-actions">
        <input class="button" type="submit" value="Send Message">
        <a class="form-cancel" href="#">Cancel</a>
    </div>
</form>
{{/contact-form-block}}
