{{#> contact-form-block}}
<form action="" class="form form-contact">
    <div class="form-group">
        <label for="contact-name">Name</label>
        <input name="contact-name" type="text">
    </div>
    <div class="form-group">
        <label for="contact-email">Email</label>
        <input name="contact-email" type="text">
    </div>
    <div class="form-group">
        <label for="contact-message">Message</label>
        <textarea name="contact-message"></textarea>
    </div>
    <div class="form-group">
        <input class="button" type="submit" value="Send Message">
        <a class="form-cancel" href="#">Cancel</a>
    </div>
</form>
{{/contact-form-block}}
