<form action="" class="form form-signup">
    <label for="signup-email">Email Address</label>
    <input name="signup-email" id="signup-email" type="email">
    <input class="button" type="submit" value="Sign Up">
</form>
