<section class="intro">
    <h2>Our History</h2>
    <p>Magic Marble Steakhouse was born out of the desire to serve a really good piece of steak.  A steak that is cooked to perfection each and every time, and served at an affordable price to everyone.  There are many places that serve a great steak but have prices that the average person just can’t afford. And then there are the steakhouses that are affordable but the quality of their meats are not consistent.</p>
    
    <p>At Magic Marble Steakhouse, we pride ourselves on bringing together the very best of these two worlds for you: <strong>great steak at affordable prices.</strong></p>
</section>
