<section class="intro">
    <h1>Contact Us</h1>
    <h2>We would love to hear from you.</h2>
    <p>Tell us how we are doing -- call, email or message us through our social media channels below.</p>

    {{> includes/address }} 
    {{> includes/social-media-dark}} 
    {{> includes/form-contact}}
</section>
