<section class="intro">
    <h2>Grand Opening</h2>
    <p>We are <strong>Magic Marble Steakhouse</strong>, and we are excited to bring our passion for <strong>great steaks to all ages</strong> in the Twin Cities.</p>
    <p>All steak lovers, come celebrate with us as we open our restaurant this Valentine’s Day! Find us with your favorite map app at:</p>
    {{> includes/address }}
</section>
