<section class="intro">
    <h2>Our History</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non fermentum nisi. Phasellus non fringilla dolor. Donec fermentum vitae magna sit amet imperdiet. Curabitur consequat rhoncus dui, vel fringilla turpis laoreet vitae. Etiam turpis erat, mollis ut leo eu, ultricies scelerisque lectus. Sed finibus sed metus vel porta. Phasellus imperdiet neque sem, tincidunt viverra sapien fringilla non.</p>
    <p>Curabitur ornare lorem augue, non gravida dolor hendrerit id. Vestibulum bibendum risus ac enim accumsan, a placerat libero accumsan. Vivamus auctor iaculis arcu, non ultricies dolor ultricies in. Curabitur elementum quam ante, mattis molestie sem vestibulum sit amet. Pellentesque sed erat nulla.</p>
</section>
