<section class="beverages">
    <h2>Beverages</h2>
    <div class="col-6-first">
        <h3>Domestic Beer</h3>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Miller Lite</span>
                <span class="menu-price">$3.99</span>
            </h3>
            <p>On tap 20oz</p>
        </div>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Coors</span>
                <span class="menu-price">$3.99</span>
            </h3>
            <p>On tap 20oz</p>
        </div>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Budweiser</span>
                <span class="menu-price">$3.99</span>
            </h3>
            <p>On tap 20oz</p>
        </div>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Samuel Adams lager</span>
                <span class="menu-price">$3.99</span>
            </h3>
            <p>On tap 20oz</p>
        </div>
    </div>
    <div class="col-6-last">
        <h3>Imported Beer</h3>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Heineken bottle</span>
                <span class="menu-price">$4.99</span>
            </h3>
            <p>Lager bottles 12oz. (Netherlands)</p>
        </div>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Corona bottle</span>
                <span class="menu-price">$4.99</span>
            </h3>
            <p>Lager bottles 12oz. (Mexico)</p>
        </div>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Modelo Especial</span>
                <span class="menu-price">$4.99</span>
            </h3>
            <p>Lager bottles 12oz. (Mexico)</p>
        </div>
        <div class="menu-item-no-photo">
            <h3>
                <span class="menu-name">Foster’s bottle</span>
                <span class="menu-price">$4.99</span>
            </h3>
            <p>Lager bottles 12oz. (Australia)</p>
        </div>
    </div>
</section>
