<ul class="social-media">
    <li class="facebook">
        <a href="#"><img alt="Facebook" src="images/icon-facebook.svg"></a>
    </li>
    <li class="googleplus">
        <a href="#"><img alt="Google+" src="images/icon-googleplus.svg"></a>
    </li>
    <li class="twitter">
        <a href="#"><img alt="Twitter" src="images/icon-twitter.svg" </a>
            </li>
    <li class="youtube">
        <a href="#"><img alt="YouTube" src="images/icon-youtube.svg"></a>
    </li>
</ul>