<ul class="social-media social-media-light">
    <li class="facebook">
        <a href="#"><img alt="Facebook" src="images/social/icon-facebook-white.svg"></a>
    </li>
    <li class="googleplus">
        <a href="#"><img alt="Google+" src="images/social/icon-googleplus-white.svg"></a>
    </li>
    <li class="twitter">
        <a href="#"><img alt="Twitter" src="images/social/icon-twitter-white.svg"></a>
    </li>
    <li class="youtube">
        <a href="#"><img alt="YouTube" src="images/social/icon-youtube-white.svg"></a>
    </li>
</ul>