<ul class="social-media social-media-dark">
    <li class="facebook">
        <a href="#"><img alt="Facebook" src="images/social/icon-facebook-maroon.svg"></a>
    </li>
    <li class="googleplus">
        <a href="#"><img alt="Google+" src="images/social/icon-googleplus-maroon.svg"></a>
    </li>
    <li class="twitter">
        <a href="#"><img alt="Twitter" src="images/social/icon-twitter-maroon.svg"></a>
    </li>
    <li class="youtube">
        <a href="#"><img alt="YouTube" src="images/social/icon-youtube-maroon.svg"></a>
    </li>
</ul>