{{#> social-media-block}}
<ul class="social-media">
    <li class="facebook">
        <a href="#"><img alt="Facebook" src="images/icon-facebook-{{social-icon-color}}.svg"></a>
    </li>
    <li class="googleplus">
        <a href="#"><img alt="Google+" src="images/icon-googleplus-{{social-icon-color}}.svg"></a>
    </li>
    <li class="twitter">
        <a href="#"><img alt="Twitter" src="images/icon-twitter-{{social-icon-color}}.svg" </a>
            </li>
    <li class="youtube">
        <a href="#"><img alt="YouTube" src="images/icon-youtube-{{social-icon-color}}.svg"></a>
    </li>
</ul>
{{/social-media-block}}