{{#> testimonies-block}}
<section class="testimonies">
    <h2>Here is what others are saying about us.</h2>
    <p>David Johnson says,
        <br>
        <span class="quote">“The steaks were delicious! Perfectly cooked the way I like--medium rare. And the portions were decent size; a great deal for the price. The steakhouse had a variety of alcoholic beverages, and is a perfect spot to hang out with the guys to watch a game.”</span></p>

    <p>Linda Williams says,
        <br>
        <span class="quote">“I love the ambiance at night. Very hip and great selection of music, food, drinks and desserts! I enjoy going to eat with my friends and they always have room for us.”</span></p>

    <p>Robert Robinson says,
        <br>
        <span class="quote">“The steakhouse is a great family dining option. They’re open for brunch on the weekends and have kids-friendly selections. One of my kids has a food allergy, and the allergy indications are very helpful. There’s even an option for me to order online and pick up--dinner has never been so easy.”</span></p>
</section>
{{/testimonies-block}}
