@import url("https://fonts.googleapis.com/css?family=Averia+Libre:400,700|Roboto:400,700");/*======
Breakpoint Sass http://breakpoint-sass.com
- Assume min-width (by default) if only a number
- Set min-width/max-width if both values are numbers
- If one value is a string, assume a feature/value pair
- String tests together within parentheses, assume each item is a feature value pair
- Declare our breakpoints. All min-width for now.

"tp" = tweak point
======*//*======
Repeat list only because I dont think Breakpoint Sass can use these variables
These values have to be displayed in a list

=======*/*,*::before,*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2,h3,h4 {
  font-family: "Averia Libre", Georgia, "Times New Roman", serif;
  font-weight: 700;
}

.page-wrapper {
  margin: 0 auto;
  width: 900px;
}

.col-1 {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
}

.col-2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}

.col-3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

.col-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

.col-5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

.col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

.col-7 {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}

.col-8 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

.col-9 {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}

.col-10 {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
}

.col-11 {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
}

.col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.main-contents {
  display: block;
}

footer {
  clear: both;
}

.header {
  display: block;
}

.logo {
  height: 80px;
  width: 250px;
}

.logo-link {
  display: block;
}
