@import url("https://fonts.googleapis.com/css?family=Averia+Libre:400,700|Roboto:400,700");/*======
Breakpoint Sass http://breakpoint-sass.com
- Assume min-width (by default) if only a number
- Set min-width/max-width if both values are numbers
- If one value is a string, assume a feature/value pair
- String tests together within parentheses, assume each item is a feature value pair
- Declare our breakpoints. All min-width for now.

"tp" = tweak point
======*//*======
Repeat list only because I dont think Breakpoint Sass can use these variables
These values have to be displayed in a list

=======*/.ad {
  overflow: hidden;
}

.ad img {
  display: block;
  max-width: 100%;
}

.ad a {
  display: block;
  text-decoration: none;
}

.ad-headline {
  clear: both;
  height: 100%;
  margin: 0;
  padding: 20px;
}

.ad-special {
  background-color: #ffe0cc;
  margin-bottom: 20px;
}

.ad-special .ad-headline {
  color: #662602;
}

.ad-special img {
  float: left;
}

.ad-order {
  background-color: #333;
}

.ad-order .ad-headline {
  color: #fff;
}

.ad-order img {
  float: right;
}

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #662602;
}

h1,h2,h3 {
  font-family: "Averia Libre", Georgia, "Times New Roman", serif;
  font-weight: 700;
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

p {
  margin-bottom: 20px;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.main-contents {
  display: block;
  overflow: hidden;
  padding: 30px 0;
}

.container {
  margin: auto;
  max-width: 85%;
  overflow: hidden;
}

.footer {
  background-color: #333;
  clear: both;
  color: #fff;
  overflow: hidden;
  padding: 30px 0;
}

.footer-links {
  padding: 20px 0;
}

.footer-links a {
  color: #fff;
  font-size: 14px;
}

.footer-links a:hover {
  color: #900;
}

.header {
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
}

.logo {
  height: 80px;
  width: 250px;
}

.logo-link {
  display: block;
  margin-bottom: 10px;
}

.nav-wrapper {
  overflow: hidden;
}

.site-nav {
  display: block;
  float: right;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: auto;
}

.site-nav li {
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.site-nav .site-nav-link {
  font-family: "Averia Libre", Georgia, "Times New Roman", serif;
  font-weight: 700;
  color: #fff;
  background-color: #662602;
  border-radius: 6px;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.site-nav .site-nav-link-active,.site-nav .site-nav-link:hover {
  background-color: #900;
}

.social-media {
  list-style: none;
  overflow: hidden;
}

.social-media li {
  float: left;
  margin: 0 20px 0 0;
}

.social-media a {
  display: block;
  text-decoration: none;
}

.social-media img {
  display: block;
  height: 48px;
  width: 48px;
}

.col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 960px) {
  .ad-headline {
    clear: none;
    padding: 35px 20px;
  }

  .page-wrapper {
    width: 900px;
  }

  .logo-link {
    margin: 0;
  }

  .site-nav {
    margin: 30px 0 0 0;
  }

  .site-nav li {
    margin-right: 10px;
    margin-top: 0;
  }

  .col-1-first {
    width: 6.77966%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-1-last {
    width: 6.77966%;
    float: right;
    margin-right: 0;
  }

  .col-2-first {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-2-last {
    width: 15.25424%;
    float: right;
    margin-right: 0;
  }

  .col-3-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-3-last {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }

  .col-4-first {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-4-last {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }

  .col-5-first {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-5-last {
    width: 40.67797%;
    float: right;
    margin-right: 0;
  }

  .col-6-first {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-6-last {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }

  .col-7-first {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-7-last {
    width: 57.62712%;
    float: right;
    margin-right: 0;
  }

  .col-8-first {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-8-last {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  .col-9-first {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-9-last {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }

  .col-10-first {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-10-last {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }

  .col-11-first {
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%;
  }

  .col-11-last {
    width: 91.52542%;
    float: right;
    margin-right: 0;
  }
}
