@import url("https://fonts.googleapis.com/css?family=Averia+Libre:400,700|Roboto:400,700");/*======
Breakpoint Sass http://breakpoint-sass.com
- Assume min-width (by default) if only a number
- Set min-width/max-width if both values are numbers
- If one value is a string, assume a feature/value pair
- String tests together within parentheses, assume each item is a feature value pair
- Declare our breakpoints. All min-width for now.

"tp" = tweak point
======*//*======
Repeat list only because I dont think Breakpoint Sass can use these variables
These values have to be displayed in a list

=======*/*,*::before,*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2,h3,h4 {
  font-family: "Averia Libre", Georgia, "Times New Roman", serif;
  font-weight: 700;
}

.page-wrapper {
  margin: 0 auto;
  width: 900px;
}

.main-contents {
  display: block;
  overflow: hidden;
}

footer {
  clear: both;
  overflow: hidden;
}

.header {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.logo {
  height: 80px;
  width: 250px;
}

.logo-link {
  display: block;
}

.nav-wrapper {
  overflow: hidden;
}

.site-nav {
  display: block;
  float: right;
  list-style: none;
  overflow: hidden;
  margin: 30px 0 0 0;
  padding: 0;
  width: auto;
}

.site-nav li {
  display: block;
  float: left;
  margin-right: 10px;
}

.site-nav .site-nav-link {
  font-family: "Averia Libre", Georgia, "Times New Roman", serif;
  font-weight: 700;
  color: #fff;
  background-color: #662602;
  border-radius: 6px;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.site-nav .site-nav-link-active,.site-nav .site-nav-link:hover {
  background-color: #900;
}

.col-1-first {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
}

.col-1-last {
  width: 6.77966%;
  float: right;
  margin-right: 0;
}

.col-2-first {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}

.col-2-last {
  width: 15.25424%;
  float: right;
  margin-right: 0;
}

.col-3-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

.col-3-last {
  width: 23.72881%;
  float: right;
  margin-right: 0;
}

.col-4-first {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

.col-4-last {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}

.col-5-first {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

.col-5-last {
  width: 40.67797%;
  float: right;
  margin-right: 0;
}

.col-6-first {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

.col-6-last {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}

.col-7-first {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}

.col-7-last {
  width: 57.62712%;
  float: right;
  margin-right: 0;
}

.col-8-first {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

.col-8-last {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}

.col-9-first {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}

.col-9-last {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}

.col-10-first {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
}

.col-10-last {
  width: 83.05085%;
  float: right;
  margin-right: 0;
}

.col-11-first {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
}

.col-11-last {
  width: 91.52542%;
  float: right;
  margin-right: 0;
}

.col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
