*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include font-body;
    background-color: $color-white;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

a {
    color: $color-maroon;
    &:hover {
        color: $color-red;
    }
}

h1, h2, h3 {
    @include font-headline;
}

h1 {
    @include font-headline-size(30px, 1.2);
    border-bottom: 2px solid $color-gray;
    margin-bottom: 30px;
}

h2 {
    @include font-headline-size;
    margin-bottom: 10px;
}

h3 {
    @include font-headline-size(20px, 1.2);
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.page-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    @include breakpoint($large) {
        width: 900px;
    }
}

.main-contents {
    display: block;
    overflow: hidden;
    padding: 30px 0;
}

.container {
    @include container;
}
