.accordion {
    &-header, &-content {
        padding: 10px 20px !important;
    }
    &-header {
        font-size: 24px !important;
        span {
            position: absolute;
            right: 10px;
            top: 50%;
        }
    }
    .ui-accordion-header-collapsed {
        background-color: $color-cream;
        border: 1px solid $color-cream;
    }
    .ui-accordion-header-active {
        background-color: $color-maroon;
        border: 1px solid $color-maroon;
    }
    .ui-accordion-header {
        &:hover {
            background-color: $color-red;
            border: 1px solid $color-red;
            color: $color-white;
        }
    }
    &-content {
        border: 1px solid darken($color-white, 25%);
        padding: 20px !important;
    }
    .ui-icon, .ui-widget-content .ui-icon {
        background-image: url('../images/ui-icons_444444_256x240.png');
    }
    .ui-state-hover {
        span {
            background-image: url('../images/ui-icons_ffffff_256x240.png');
        }
    }
    .ui-state-active .ui-icon, .ui-button:active .ui-icon {
        background-image: url('../images/ui-icons_ffffff_256x240.png');
    }
}
