.ad {
    overflow: hidden;
    text-align: center;
    img {
        display: block;
        margin: auto;
    }
    a {
        display: block;
        overflow: hidden;
        text-decoration: none;
    }
    &-headline {
        clear: both;
        height: 100%;
        margin: 0;
        padding: 20px;
        @include breakpoint($large) {
            clear: none;
            float: left;
            padding: 8px 10px;
        }
    }
    &-valentine, &-stpatrick, &-easter {
        .ad-headline {
            float: none;
        }
    }
    &-valentine {
        background-color: $color-red;
        .ad-headline {
            color: $color-white;
        }
    }
    &-stpatrick {
        background-color: $color-gray;
        .ad-headline {
            color: $color-charcoal;
        }
    }
    &-easter {
        background-color: $color-cream;
        .ad-headline {
            color: $color-maroon;
        }
    }
    &-order {
        background-color: $color-charcoal;
        .ad-headline {
            color: $color-white;
            margin: 0;
            @include breakpoint($large) {
                width: 52%;
            }
        }
        img {
            @include breakpoint($large) {
                float: right;
            }
        }
    }
}
