.ad {
    overflow: hidden;
    text-align: center;
    img {
        display: block;
        margin: auto;
    }
    a {
        display: block;
        overflow: hidden;
        text-decoration: none;
    }
    &-headline {
        clear: both;
        height: 100%;
        margin: 0;
        padding: 20px;
        @include breakpoint($large) {
            clear: none;
            float: left;
            padding: 5px 10px;
            width: 47%;
        }
    }
    &-special {
        background-color: $color-cream;
        margin-bottom: 20px;
        .ad-headline {
            color: $color-maroon;
        }
        img {
            @include breakpoint($large) {
                float: left;
            }
        }
    }
    &-order {
        background-color: $color-charcoal;
        .ad-headline {
            color: $color-white;
            margin: 0;
        }
        img {
            @include breakpoint($large) {
                float: right;
            }
        }
    }
}
