*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @include font-body;
    background-color: $color-white;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

//#{headings()} {
h1, h2, h3, h4 {
    @include font-headline;
}

.page-wrapper {
    margin: 0 auto;
    width: 900px;
}

.col-1 {
    &-first {
        @include span(1 of 12);
    }
    &-last {
        @include span(last 1 of 12);
    }
}

.col-2 {
    &-first {
        @include span(2 of 12);
    }
    &-last {
        @include span(last 2 of 12);
    }
}

.col-3 {
    &-first {
        @include span(3 of 12);
    }
    &-last {
        @include span(last 3 of 12);
    }
}

.col-4 {
    &-first {
        @include span(4 of 12);
    }
    &-last {
        @include span(last 4 of 12);
    }
}

.col-5 {
    &-first {
        @include span(5 of 12);
    }
    &-last {
        @include span(last 5 of 12);
    }
}

.col-6 {
    &-first {
        @include span(6 of 12);
    }
    &-last {
        @include span(last 6 of 12);
    }
}

.col-7 {
    &-first {
        @include span(7 of 12);
    }
    &-last {
        @include span(last 7 of 12);
    }
}

.col-8 {
    &-first {
        @include span(8 of 12);
    }
    &-last {
        @include span(last 8 of 12);
    }
}

.col-9 {
    &-first {
        @include span(9 of 12);
    }
    &-last {
        @include span(last 9 of 12);
    }
}

.col-10 {
    &-first {
        @include span(10 of 12);
    }
    &-last {
        @include span(last 10 of 12);
    }
}

.col-11 {
    &-first {
        @include span(11 of 12);
    }
    &-last {
        @include span(last 11 of 12);
    }
}

.col-12 {
    @include span(12 of 12);
}

.main-contents {
    display: block;
    overflow: hidden;
}
