/* Tiny Carousel */

.carousel {
    height: 1%;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    padding: 0;
    h2 {
        text-align: center;
    }
    .viewport {
        height: 150px;
        overflow: hidden;
        margin: auto;
        position: relative;
        width: 80%;
    }
    .buttons {
        @include font-headline;
        @include font-headline-size(32px, 0.8);
        background: $color-maroon;
        border-radius: 50%;
        color: $color-white;
        display: block;
        height: 32px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 40%;
        width: 32px;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    .buttons:hover {
        background: $color-red;
        color: $color-white;
    }
    .disable {
        visibility: hidden;
    }
    .overview {
        list-style: none;
        left: 0;
        margin: 0;
        position: absolute;
        padding: 0;
        top: 0;
        width: 305px;
        li {
            float: left;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 305px;
        }
    }
}
