.footer {
    background-color: $color-charcoal;
    clear: both;
    color: $color-white;
    overflow: hidden;
    padding: 30px 0;
    &-left {}
    &-right {
        text-align: right;
    }
    .copyright {
        font-size: 14px;
    }
    .social-media {
        float: right;
    }
    &-links {
        clear: both;
        padding: 20px 0 0;
        a {
            color: $color-white;
            font-size: 14px;
            &:hover {
                color: $color-red;
            }
        }
    }
}
