.form {
    display: block;
    overflow: hidden;
    label, input[type="text"], input[type="email"], textarea {
        @include font-body;
        @include font-body-size;
        display: block;
    }
    label {
        color: $color-charcoal;
        &.error {
            color: $color-red;
            width: 100%;
            @include breakpoint($large) {
                padding: 0 0 0 100px;
            }
        }
    }
    input[type="text"], input[type="email"], textarea {
        background-color: $color-white;
        border: 1px solid $color-gray;
        padding: 8px;
        width: 100%;
    }
    input.error, textarea.error {
        border: 1px solid $color-red;
    }
    &-signup {
        position: relative;
        .form-group {
            @include breakpoint($large) {
                float: left;
                margin-right: 10px;
                width: 275px;
            }
        }
        label {
            color: $color-white;
            font-size: 14px;
            @include breakpoint($large) {
                float: left;
                padding: 10px 0;
                width: 100px;
            }
        }
        #signup-email {
            @include breakpoint($large) {
                float: right;
                width: 160px;
            }
        }
    }
    &-contact {
        margin: 30px 0;
        label {
            @include breakpoint($large) {
                float: left;
                padding: 10px 0;
                width: 100px;
            }
        }
        input[type="text"], input[type="email"], textarea {
            @include breakpoint($large) {
                float: right;
                width: 73%;
            }
        }
        .form-group-actions {
            @include breakpoint($large) {
                padding-left: 105px
            }
        }
    }
    .button {
        float: left;
    }
    &-cancel {
        float: left;
        margin: 10px 20px;
        width: auto;
    }
    .form-group {
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
    }
}
