.form {
    display: block;
    overflow: hidden;
    label, input[type="text"], input[type="email"], textarea {
        @include font-body;
        @include font-body-size;
        display: block;
        margin-bottom: 10px;
    }
    label {
        color: $color-charcoal;
    }
    input[type="text"], input[type="email"], textarea {
        background-color: $color-white;
        border: 1px solid $color-gray;
        padding: 8px;
        width: 100%;
    }
    &-signup {
        position: relative;
        label {
            color: $color-white;
        }
        #email {}
    }
    &-contact {
        margin: 30px 0;
    }
    .button {
        float: left;
    }
    &-cancel {
        float: left;
        margin: 10px 20px;
        width: auto;
    }
    .form-group {
        display: block;
        overflow: hidden;
    }
}
