.menu {
    display: block;
    overflow: hidden;
    &-list {
        @include font-body;
        display: block;
        list-style: none;
        overflow: hidden;
        margin: 0;
    }
    &-item-with-photo {
        display: block;
        margin-bottom: 30px;
        overflow: hidden;
    }
    &-item-no-photo {
        clear: both;
        display: block;
        overflow: hidden;
    }
    &-name {
        float: left;
    }
    &-price {
        float: right;
    }
    &-fineprint {
        font-size: 14px;
    }
    h2 {
        border-bottom: 1px solid $color-gray;
    }
    h3 {
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
    }
    p {
        clear: both;
    }
}
.steaks, .beverages, .appetizers, .sides, .desserts {
    clear: both;
}