.menu {
    display: block;
    overflow: hidden;
    h3 {
        border-bottom: 1px solid darken($color-white, 25%);
    }
    &-list {
        @include font-body;
        display: block;
        list-style: none;
        overflow: hidden;
        margin: 0;
    }
    &-item-with-photo {
        display: block;
        margin-bottom: 30px;
        overflow: hidden;
    }
    &-item-no-photo {
        clear: both;
        display: block;
        overflow: hidden;
    }
    &-item-headers {
        .menu-size, .menu-price {
            @include font-body($font-body, $base-font-size, 700);
        }
    }
    &-name, &-size, &-price {
        display: inline-block;
    }
    &-name {
        @include span(6.25 of 12);
    }
    &-size {
        @include span(3.5 of 12);
    }
    &-price {
        @include span(last 2.25 of 12);
    }
    &-fineprint {
        font-size: 14px;
    }
    h2 {
        border-bottom: 1px solid $color-gray;
    }
    h3 {
        display: block;
        margin-bottom: 10px;
        overflow: hidden;
    }
    p {
        clear: both;
    }
}
.steaks, .beverages, .appetizers, .sides, .desserts {
    clear: both;
}