.social-media {
    list-style: none;
    overflow: hidden;
    width: auto;
    li {
        float: left;
        margin: 0 20px 0 0;
        &.youtube {
            margin-right: 0;
        }
    }
    a {
        display: block;
        text-decoration: none;
    }
    img {
        display: block;
        height: 48px;
        width: 48px;
        @include breakpoint($large) {
            height: 32px;
            width: 32px;
        }
    }
}